body{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 90px;
}

.is-fab {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.is-fab .button,
.is-fab .button:active,
.is-fab .button:focus{
    box-shadow:
    0 11px  15px -7px rgb(0 0 0 / 20%),
    0  24px 38px  3px rgb(0 0 0 / 14%),
    0   9px 46px  8px rgb(0 0 0 / 12%)
    !important;
}
/*
.is-fab:hover {
    color: bulmaDarken($primary, 2.5%);
}
*/

.is-fab,
.is-fab .button,
.is-fab .material-icons {
    font-size: 20px;
}

.is-fab .button{
    padding-left: 1em;
    padding-right: 1em;
}

.item{
    padding: .75rem;
    border-radius: 6px;
    margin-bottom: .5em;
}
@media screen and (max-width: 1023px){
    .item{
        border-radius: 0;
        margin-bottom: 0;
}
}
.dummy{
    width: 40px;
    display: inline-block;
}
.label-title{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: .7em;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    display: inline-block;
    line-height: 1.5rem;
}
.hidden{
    display: none;
}

/*
@media screen and (max-width: 1023px){
.container{
    padding-left: .75rem;
    padding-right: .75rem;
}
}
*/

.hero.is-primary .tabs.is-toggle li.is-active a{
    color: #3e8ed0 !important;
}
.item.has-background-primary:not(.has-background-danger-light) small{
    color: #fff;
}
